*{
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    background: black;
    padding: 24px 14%;
}

.cv {
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: 600;
}

span {  
    color: blue;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a{
    color: whitesmoke;
    font-size: 1.6rem;
    padding: 10px 20px;
    font-weight: 700;
}

.navbar a:hover {
    background-color: blue;
    color: black;
}

#menuicon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 14%;
    color: whitesmoke;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    width: 600px;
    margin-left: .5rem;
    margin-top: 100px;
}

.introtext h5{
    color: whitesmoke;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 20px;
}

.introtext h1 {
    color: blue;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}

.introtext h6 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
}

.abouttext h3 {
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;

}
.abouttext h2 {
    text-align: center;
    font-weight: 100;
    padding: 50px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.skills h3{
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

#progress {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress:after {
    content: '50%';
    display: block;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

#progress1 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress1:after {
    content: '50%';
    display: block;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

#progress2 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress2:after {
    content: '10%';
    display: block;
    background: blue;
    width: 10%;
    height: 100%;
    border-radius: 9px;
}

#progress3 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress3:after {
    content: '40%';
    display: block;
    background: blue;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}

#progress4 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress4:after {
    content: '35%';
    display: block;
    background:blue;
    width: 35%;
    height: 100%;
    border-radius: 9px;
}

.skills li {
    font-size: 30px;
    letter-spacing: 3px;
}

.projects h3 {
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}

.row h4 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
}