*{
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    background: black;
    padding: 24px 14%;
}

.cv {
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: 600;
}

span {  
    color: blue;
    font-weight: bold;
}

nav:hover {
    background-color: #3CB371;
    color: black;
}
ul {
    display: flex;
    list-style-type: none;
    width: 800px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

.cv {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.introtext {
    margin-left: 700px;
    margin-top: 175px;
}