/*transform feature from here https://learningpeople.percipio.com/courses/cd39dbb3-d9c3-11e6-a5b1-0242c0a80503/videos/cd39dbba-d9c3-11e6-a5b1-0242c0a80503*/
* {
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    background: black;
    padding: 24px 14%;
}

.cv {
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: 600;
}

span {  
    color: blue;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a{
    color: whitesmoke;
    font-size: 1.6rem;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 12px;
}

.navbar a:hover {
    background-color: blue;
    color: black;
}

#menuicon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 14%;
    color: whitesmoke;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    width: 600px;
    margin-left: .5rem;
    margin-top: 100px;
}

.introtext h5{
    color: whitesmoke;
    font-size: 60px;
    font-weight: 500;
    margin: 0 0 20px;
}

.introtext h1 {
    color: blue;
    font-size: 90px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}

.introtext h6 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
}

.abouttext h3 {
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;

}
.abouttext h2 {
    text-align: center;
    font-weight: 100;
    padding: 50px;
    line-height: 3.2;
    letter-spacing: 1px;
}

.skills h3{
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

#progress {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress:after {
    content: '50%';
    display: block;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

#progress1 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress1:after {
    content: '50%';
    display: block;
    background: blue;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

#progress2 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress2:after {
    content: '10%';
    display: block;
    background: blue;
    width: 10%;
    height: 100%;
    border-radius: 9px;
}

#progress3 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress3:after {
    content: '40%';
    display: block;
    background: blue;
    width: 40%;
    height: 100%;
    border-radius: 9px;
}

#progress4 {
    background: #333;
    border-radius: 13px;
    height: 20px;
    width: 300px;
    padding: 3px;
}

#progress4:after {
    content: '35%';
    display: block;
    background:blue;
    width: 35%;
    height: 100%;
    border-radius: 9px;
}

.skills li {
    font-size: 20px;
    letter-spacing: 3px;
}

.projects h3 {
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;
}

.row h4 {
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
}

.row:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgba(39, 38, 38, 0.7);
}

.resume h3{
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

.resumetext {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4.4rem;
}

.box {
    background: #080808;
    padding: 40px 30px;
    border-radius: 5px;  
}

.box h6 {
    color: #3b3b4a;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.box h4 {
    color: whitesmoke;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 25px;
}

.box p {
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
    color: whitesmoke;
}

.box h5 {
    font-size: 16px;
    font-weight: 700;
    color: #3b3b4a;
}

.box:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgba(39, 38, 38, 0.7);
}

.contact h3 {
    color: gray;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 6px;
    text-align: center;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;

}

.icon {
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.container .contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: whitesmoke;
    flex-direction: column;
    font-weight: 300;
}

.container h4 {
    font-weight: 700;
    color: blue;
}

.contactform {
    position: relative;
    width: 40%;
    padding: 40px;
    background: #080808;
}

.contactform h2 {
    font-size: 30px;
    color: blue;
    font-weight: 600;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.sendbtn:hover {
    background-color: black;
    color: whitesmoke;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #3b3b4a;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span  {
    color: red;
    font-size: 12px;
    transform: translateY(-20px) ;
}

.contactform .inputbox input[type="submit"] {
    width: 100px;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.bx bxl-github {
    min-width: 100px;
    min-height: 100px;
    size: large;
}

.footername {
   text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: blue;
}

.footerdate {
    text-align: center;
    color: #3b3b4a;
    padding: 30px;
    background:#0b0b13;
    margin-top: 3rem;
    line-height: 1.8rem;;
}