*{
    font-family: 'Zilla Slab', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    background-color: black;
    color: whitesmoke;
}

body {
    background-color: black;
    color: whitesmoke;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    background: black;
    padding: 24px 14%;
}

.cv {
    color: whitesmoke;
    font-size: 1.8rem;
    font-weight: 600;
}

span {  
    color: blue;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a{
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 10px 20px;
    font-weight: 700;
}

.navbar a:hover {
    background-color: blue;
    color: black;
}

#menuicon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 120px 14%;
    color: whitesmoke;
}